@import "tailwindcss";

@source "./**/*.{ts,html}";

@theme {
  /* Espacement de base à 8px (0.5rem) au lieu du défaut 4px (0.25rem) */
  --spacing: 0.5rem;
}


@font-face {
  font-family: "M6x11";
  src: url("/M6x11.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "M6x11", sans-serif;
}


@property --text-outline-color {
  syntax: '<color>';
  inherits: true;
  initial-value: black;
}

@utility text-outline-* {
  --text-outline-color: --value(--color-*);
}

@utility text-outline-1 {
  text-shadow: -1px -1px var(--text-outline-color),
  -1px 0px var(--text-outline-color),
  0px -1px var(--text-outline-color),
  1px 1px var(--text-outline-color),
  1px 0px var(--text-outline-color),
  0px 1px var(--text-outline-color),
}

@utility text-outline-2 {
  text-shadow: -1px -1px var(--text-outline-color),
  -1px 0px var(--text-outline-color),
  0px -1px var(--text-outline-color),
  1px 1px var(--text-outline-color),
  1px 0px var(--text-outline-color),
  0px 1px var(--text-outline-color),
  2px 2px var(--text-outline-color),
  2px 1px var(--text-outline-color),
  1px 2px var(--text-outline-color),
  0px 2px var(--text-outline-color),
  2px 0px var(--text-outline-color),
  2px 2px var(--text-outline-color),
  2px -1px var(--text-outline-color, black),
  -1px 2px var(--text-outline-color, black);
}
